html{
    padding: 10px;
}

body{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    margin: 20px 0;
    font-size: large;
    &:hover{
        transform: scale(.95);
    }
    &:active{
        transform: scale(.9);
    }
}
.card{
    width: 90%;
    max-width: 450px;
}